@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700&display=swap");

* {
    box-sizing : border-box;
}


.clock-container{

    color : #34495e;  
    display : flex;
    justify-content : center;
    align-items: center;
    text-align : center;
    font-weight : 500;
    
}

.user-info{
    display : flex;
    justify-content: center;
    align-items: center;

}

.form,
.greetings{
    display : none;
}

.showing{
    display : block;
}